.puff-section {
    background-color: rgb(236, 236, 226);
    display:flex;
    flex-direction: column;
    gap: 40px;
    padding: 60px 20px;
}

.puff-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #91c8f2;
}

    .puff-image img {
        width: 100px;
        height: 100px; } 

        .puff-content {
            margin-top: 15px;
        }

        .hero-button{
            display: inline-block;
            background-color:cadetblue;
            color:rgb(25, 4, 4);
            text-decoration:non;
            padding: 12px 30px;
            font-size: 1.1rem;
            font-weight: bold;
            border-radius:5px;
            margin-top: 10px;
            transition: background-color 0.2s ease;
        }
        .hero-button:hover {
            background-color: #219653;
        }
  /* här ska det nu anpassas för dator/surfplatta */

  @media (min-width:768px) 
    .puff-section {
        display: grid;    /*på mobilen staplas på dator 3kolumner*/
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;
        max-width: 1200px;
        margin: 0 auto;    /*centrerar innehållet när skärmen ändrar storlek*/
        padding : 40px 20px;
    }

    .puff-card {
        width: 30%;
    }

    .cta-section {
        background-color: #dbefd2;
        padding: 40px 20px;
        margin-top: 40px;
    }

    .cta-container{
       max-width:  1200px;
       margin:0 auto;
       text-align: center;     /*så texten centreras på mobilskärm*/

    }
    .cta-text{
     color:aquamarine
     line-height: 1.6;
     margin-bottom:25px;
    }

    .cta-button {
display: inline-block; 
background-color: rgb(156, 208, 23);
color: white
text-decoration:blue; 
padding: 15px 35px;
font-size 1.1rem; 
font-weight:bold; 
border-radius: 30px     /*rundade hörn på knappen*/
bow-shadow::after; 
transition: all 0.2s ease; 
 }

.cta-button: hover{
  background: color #219653;
  transform:translateY(-2px);

}

@media (min-width: 768px) {
    .cta-section { 
    padding: 60px 40px;
}

.cta-container {
display:flex; 
justify-content: space-between;
align-items: center;
text-align: left;
}

.cta-text{
flex:1;
margin-right:auto;
}
   
  
  



