
body {   
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: aliceblue;
    color: #333333;      /*min grundstyling för body*/
}
/*nu styla headern*/

header {
    background-color: #ffffff;
    width: 100%;
    min-height: 80px;
    padding: 15px 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;  /*gör så det staplas på mobil*/ 
    gap: 15px; 
}

.logotyp-container {   /*vita överst*/ 

    display: flex;
    align-items: center;
    gap: 10px;
}
.logotyp-container h1{  /*headlinen*/ 

    font-size: 1.5rem;
    margin: 0;
    color:black;
}
#logotyp-img{              /*loggan*/ 
    display: block;
    width: 100px;
    height:auto; 
    
}


header nav ul {    /*länkarna till höger*/ 
list-style: none;
display: flex;
margin: 0;
padding: 0;
flex-direction: column;
align-items: stretch;
text-align: center;    
gap: 10px; 
} 

header nav ul li a{
    color:#000000;
    font-weight: bold;
    display: block;
    padding: 8px;
}

header nav ul li:hover {
background-color:rgb(183, 233, 183);
}
header nav ul li:hover a{
color: #000000;
}
 
/*här slutar headern!*/

     

/*nu börjar hero section*/ 

.hero-section {

    background-image: url(images/hero.jpg); 
    background-size: cover;
    background-position: center;
    padding: 40px 20px;
    min-height: 300px;
    display: flex;
    align-items: center;    
    justify-content: center; 
    box-sizing: border-box;
    color:#ffffff;
    text-align: center;
}
.hero-button {    /*knappen, form och strl nu*/
display: inline-block;    /*knappen ska anpassa sig eft pad/bredd*/
padding: 12px 30px; 
border-radius: 5px;
margin-top: 2px;
background-color: white;
color: #000000;
text-decoration: none;
font-weight: bold;
font-size: 1.1rem;
}
.hero-button:hover {
    background-color:green;
    color: #f0e9e9;
}   /*här slutar hero-section*/

.nature-section {   /*börjar nature section. den här ställer in själva section nature boxen*/
  display: block;
  width: 100%; 
  padding: 30px 20px;
  box-sizing: border-box; 
  background-color: #ffffff;
  clear: both;             /*den här gör så den hamnar under fotot*/           
  
}
.nature-content {        /*själva innehållet i boxen*/
display: block;      
max-width: 950px;
margin: 0 auto;
text-align: center;   /*centrerar texten*/ 
font-size: 1.1rem;  
line-height: 1.6;           /*radavståndet sprider ut sig*/
}
.nature-content h2 {     /*en egen regel för h2*/
font-size: 1.8rem;
margin-bottom: 20px;

}     /*här slutar nature section under bilden*/

.puff-section {     /*grundinställning: nu börjar puff sectionerna i boxarna*/
background-color: rgb(231, 230, 230);
padding: 40px 20px;
box-sizing: border-box;

}
.puff-section h3 {   /*inställing för h3*/
text-align:center;
font-size: 1.6rem;
color: black;
margin-top: 0;
margin-bottom: 20px;
}

.puff-section h2 {   /*inställing för h2*/
text-align:center;
font-size: 1.2rem;
color: black;
margin-top: 0;
margin-bottom: 20px;
}
.puff-grid {     /*inställing för själva puffarna*/
display: grid;
grid-template-columns: 1fr;    /*på mobilen blir det 1fr nu,en kolumn*/
gap: 30px;
max-width: 100%;
margin: 0 auto;
}

.puff-card {     /*nu layouten för korten, färg och form*/
background-color:rgb(118, 155, 118);
overflow:hidden;   /*den här reglen gör så bilden följer puffen*/
border-radius: 12px;
border: 1px solid #525e68;      /*skapar en ram kring puff cardet*/
}

.puff-text {
    padding:25px;    /*la padding kring texterna*/
}

.puff-button {    /*knappen, form och strl nu*/
display: inline-block;    /*knappen ska anpassa sig eft pad/bredd*/
padding: 12px 30px; 
border-radius: 5px;
margin-top: 2px;
background-color: white;
color: #000000;
text-decoration: none;
font-weight: bold;
font-size: 1.0rem;
}
.puff-button:hover {
    background-color:rgb(189, 207, 189);
    color: #000000;
}     /*här slutar puff section*/

.cta-section {
    background-color:rgb(81, 121, 87);
    width: 100%;
    padding: 30px 10px;
    box-sizing: border-box;
}

.cta-flexbox {       /*här börjar CTA section*/
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #000000;
background-color: rgb(118, 155, 118);
padding: 20px 30px;
box-sizing: border-box;   
width: 100%;
margin: 0 auto;
border-radius: 8px;
}
.cta-button {
 display: inline-block;    /*knappen ska anpassa sig eft pad/bredd*/
padding: 12px 30px; 
border-radius: 5px;
margin-top: 2px;
background-color: rgb(137, 176, 148);
color: #000000;
text-decoration: none;
font-weight: bold;
font-size: 1.0rem;   
}
.cta-button:hover {
    background-color:rgb(45, 80, 45);
    color: #000000;

}
.site-footer {    /*formar footern grunden*/ 
background-color: rgb(223, 216, 216);
color:#000000;
padding: 50px 20px;
width: 100%;
box-sizing: border-box;
clear: both;
}
.footer-grid {   /*rutnät grid formas*/ 
display: grid;
grid-template-columns: 1fr;  /*ger en kolumn på mobilen*/
gap:40px;
max-width: 1100px;
margin: 0 auto;
}
.footer-brand-layout {   /*kolumn till vänster formas*/
display: flex;
align-items: center;
gap:15px;
}

.footer-column h4{
    font-size: 1.1rem;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: bold;
    color:#000000;
}
.footer-column p {
    font-size: 0.95rem;
    margin: 0 0 8px 0;
    color: #333333;
}

.footer-column p a {
    color: #000000;
    text-decoration: underline;
}

.footer-links {

    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li a {
    color:#000000;
    font-weight: bold;
    display: block;
    padding: 4px 8px;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

.footer-links li:hover {
background-color:grey;  
         
}



/*allt detta nedan gäller stor skärm över 768px*/ 

@media (min-width: 768px) {
    
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    
    }
    
    header nav ul {
        flex-direction: row;
        gap: 20px;
        text-align: right;
    }
    
    .puff-grid {
        display: grid; 
        grid-template-columns: repeat(3, 1fr);  /* 3 kolumner för stor skärm */
        gap: 30px;
    }

    .hero-section {

    padding: 80px 60px;
    min-height: 450px
    justify-content: flex-start;
    text-align: left;
    }

    .hero-content {
        max-width: 50%;
    }

    .nature-content h2{
        font-size: 2.2rem;
    }

    .puff-section {
        padding: 60px 40px;
    }

    .puff-grid {
        grid-template-columns: repeat (3, 1fr);
    }
    
    .cta-section {
        display: block;
        background-color: #8ca381;
        width: 100vw;
        position: relative;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        padding: 50px 0;
    }

    .cta-flexbox {
        background-color: antiquewhite;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    max-width: 1100px;
        padding: 30px 40px;
    }
    
    .cta-text {
        text-align: left;
        max-width: 700px;
        margin-bottom: 0;
    }

    .site-footer {
        text-align: left;
        padding: 50px 0;
    }

    .footer-grid {
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
        gap: 50px;
        width: 100%;
        max-width: 1100px;
    }

    .footer-column {
        text-align: left;
    }

} /* Denna stänger hela medielådan */